<div class="{{ section.id }}">
  <div class="featured_category_container">
    <div class="featured_category_textarea">
      <div class="featured_category_heading">
        <h1>
          {{ section.settings.featured_category_heading }}
        </h1>
      </div>
    </div>

    <div class="all_featured_images">
      {% for block in section.blocks %}
        <div class="featured_images">
          <a href="{{ block.settings.featured_images_link }}">
            <div class="inner_image">
              <img src="{{ block.settings.featured_images | img_url: 'master' }}">
            </div>
            <h5 class="image_text">
              {{ block.settings.slider_image_text }}
            </h5>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
                .featured_category_container{
                 background-color:{{  section.settings.featured_category_container_background_color }};
                 padding-top:{{ section.settings.featured_category_container_padding_top_desktop }}px;
                 padding-bottom:{{ section.settings.featured_category_container_padding_bottom_desktop }}px;
                 padding-left:{{ section.settings.featured_category_container_padding_left_desktop }}px;
                 padding-right:{{ section.settings.featured_category_container_padding_right_desktop }}px;
                 margin: 0 auto;
                 max-width: 1440px;
                 width: 100%;
                }



                .featured_category_heading h1{
                  color:{{ section.settings.featured_category_heading_color }};
                  font-size:{{ section.settings.featured_category_heading_font_size_desktop }}px;
                  font-weight:{{ section.settings.featured_category_heading_font_weight }};
                  font-family: 'Poppins', sans-serif;
                  text-align:left;
                  margin-bottom: {{ section.settings.featured_category_heading_margin_bottom_desktop }}px;
                  margin-left: 20px;
                }
               .featured_category_heading strong{
                  position:relative;
                  font-weight:{{ section.settings.featured_category_heading_font_weight }};
                 }

            .featured_category_heading h1 p strong:after {

                    width: 100%;
                    height: {{ section.settings.featured_category_heading_underline_thickness }}px;
                    display: block;
                    position: absolute;
                    content: '';
                    background-color: {{ section.settings.featured_category_heading_underline_color }};
                    right: 0px;
            }
           .featured_category_textarea {

              width: 100%;
              margin: 0 auto;
          }

           .image_text p{
            text-align:center;
            color:{{ section.settings.featured_image_text_color }};
            font-size:{{ section.settings.featured_image_text_font_size_desktop }}px;
            font-weight:{{ section.settings.featured_image_text_font_weight }};
            letter-spacing: 0px;
           font-family: 'Lato', sans-serif;
          }




    .all_featured_images .slick-list draggable{

                height: 280px;
    }

            .featured_images{
              padding: 2px 5px 8px;
              margin: 10px 20px
            }

            .featured_images a{
             text-decoration: none;
            }
  .inner_image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .inner_image img{
    width: 100%;
  }
      @media screen and (max-width: 1023px){

              .featured_category_heading h1{

                  font-size:{{ section.settings.featured_category_heading_font_size_tablet }}px;
                }


      }

              @media screen and (max-width: 767px) {

                .featured_category_container{

                 padding-top:{{ section.settings.featured_category_container_padding_top_mobile }}px;
                 padding-bottom:{{ section.settings.featured_category_container_padding_bottom_mobile }}px;
                 padding-left:{{ section.settings.featured_category_container_padding_left_mobile }}px;
                 padding-right:{{ section.settings.featured_category_container_padding_right_mobile }}px;

                 }

                .featured_category_heading h1{

                  font-size:{{ section.settings.featured_category_heading_font_size_mobile }}px;
                  margin-bottom: {{ section.settings.featured_category_heading_margin_bottom_mobile }}px;
                }
                 .featured_image_text{

                font-size:{{ section.settings.featured_image_text_font_size_mobile }}px;
                }
             }
</style>
<script type="text/javascript">
   $(document).ready(function() {
    setTimeout(() => {
  $('.all_featured_images').slick({
    slidesToShow: 7,
    slidesToScroll: 1,
     autoplay: {{ section.settings.slick_autoplay }},
    dots: {{ section.settings.slick_dots }},
    arrows: {{ section.settings.slick_arrow }},
    autoplaySpeed: {{ section.settings.slick_autoplay_speed }},
    cssEase: 'linear',
     responsive: [
    {
      breakpoint: 1200,
      settings: {
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: {{ section.settings.slick_autoplay }},
      }
    },
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: {{ section.settings.slick_autoplay }},
      }
    },
    {
      breakpoint: 990,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: {{ section.settings.slick_autoplay }},
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: {{ section.settings.slick_autoplay }},
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: {{ section.settings.slick_autoplay }},
      }
    }
      // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
  });
  }, 1500)

  });
</script>

{% schema %}
    {
  "name": "Featured Category Slider",
  "settings": [

 {
  "type": "checkbox",
  "id": "slick_arrow",
  "label": "Arrow Show/Hide",
  "default": true
},
    {
  "type": "checkbox",
  "id": "slick_dots",
  "label": "Dots Show/Hide",
  "default": true
},
    {
  "type": "checkbox",
  "id": "slick_autoplay",
  "label": "Autoplay",
  "default": false
},
{
  "type": "range",
  "id": "slick_autoplay_speed",
  "min": 1000,
  "max": 5000,
  "step": 500,
  "unit": "px",
  "label": "Autoplay Speed",
  "default": 2000
},



      {
        "type": "range",
        "id": "featured_category_container_padding_top_desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Featured Container Padding Top For Desktop",
        "default": 50
        },
        {
        "type": "range",
        "id": "featured_category_container_padding_bottom_desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Featured Container Padding Bottom For Desktop",
        "default": 50
        },
        {
        "type": "range",
        "id": "featured_category_container_padding_left_desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Featured Container Padding Left For Desktop",
        "default": 40
        },
        {
        "type": "range",
        "id": "featured_category_container_padding_right_desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Featured Container Padding Right For Desktop",
        "default": 40
        },
        {
        "type": "range",
        "id": "featured_category_container_padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Featured Container Padding Top For Mobile",
        "default": 20
        },
        {
        "type": "range",
        "id": "featured_category_container_padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Featured Container Padding Bottom For Mobile",
        "default": 20
        },
        {
        "type": "range",
        "id": "featured_category_container_padding_left_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Featured Container Padding Left For Mobile",
        "default": 20
        },
        {
        "type": "range",
        "id": "featured_category_container_padding_right_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Featured Container Padding Right For Mobile",
        "default": 20
        },
        {
        "type": "color",
        "id": "featured_category_container_background_color",
        "label": "Featured Container Background Color",
        "default": "#ffffff"
        },
        {
        "type": "richtext",
        "id": "featured_category_heading",
        "label": "Featured Heading Text"
        },
        {
        "type": "color",
        "id": "featured_category_heading_color",
        "label": "Featured Heading Color",
        "default": "#F68E1E"
        },
        {
        "type": "range",
        "id": "featured_category_heading_font_size_desktop",
        "min": 1,
        "max": 72,
        "step": 1,
        "unit": "px",
        "label": "Featured Heading Font Size For Desktop",
        "default": 36
        },
        {
        "type": "range",
        "id": "featured_category_heading_font_size_tablet",
        "min": 1,
        "max": 72,
        "step": 1,
        "unit": "px",
        "label": "Featured Heading Font Size For Tablet",
        "default": 28
        },
        {
        "type": "range",
        "id": "featured_category_heading_font_size_mobile",
        "min": 1,
        "max": 72,
        "step": 1,
        "unit": "px",
        "label": "Featured Heading Font Size For Mobile",
        "default": 20
        },
        {
        "type": "range",
        "id": "featured_category_heading_font_weight",
        "min": 100,
        "max": 900,
        "step": 100,
        "unit": "px",
        "label": "Featured Heading Font Weight",
        "default": 600
        },

        {
        "type": "range",
        "id": "featured_category_heading_underline_thickness",
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Featured Heading Underline Thickness",
        "default": 4
        },
        {
        "type": "color",
        "id": "featured_category_heading_underline_color",
        "label": "Featured Heading Underline Color",
        "default": "#231F20"
        },
        {
        "type": "range",
        "id": "featured_category_heading_margin_bottom_desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Featured Heading Margin Bottom For Desktop",
        "default": 40
        },
        {
        "type": "range",
        "id": "featured_category_heading_margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Featured  Heading Margin Bottom For Mobile",
        "default": 20
        },
        {
            "type": "color",
            "id": "featured_image_text_color",
            "label": "Featured  Image Title Color",
            "default": "#231F20"
            },
            {
            "type": "range",
            "id": "featured_image_text_font_size_desktop",
            "min": 1,
            "max": 72,
            "step": 1,
            "unit": "px",
            "label": "Featured  Image Title Font size Desktop",
            "default": 18
            },
            {
            "type": "range",
            "id": "featured_image_text_font_size_mobile",
            "min": 1,
            "max": 72,
            "step": 1,
            "unit": "px",
            "label": "Featured Image Title Font size Mobile",
            "default": 12
            },
            {
            "type": "range",
            "id": "featured_image_text_font_weight",
            "min": 100,
            "max": 900,
            "step": 100,
            "unit": "px",
            "label": "Featured Image Title Font Weight",
            "default": 600
            }
  ],
       "blocks"  : [
             {
                 "type":"Brand_Logo",
                 "name":"Featured blocks",
                 "settings":[

                             {
                              "type": "image_picker",
                              "id": "featured_images",
                              "label": "Brand Logo Image"
                             },
                            {
                              "type": "richtext",
                              "id": "slider_image_text",
                              "label": "Image Title"
                             },
                             {
                            "type": "url",
                            "id": "featured_images_link",
                            "label": "Our Shop Link"
                              }
                             ]

               }
               ],
  "presets": [
    {
      "name": "Featured Category Slider"
    }
  ]
}
{% endschema %}
